@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body { 
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza horizontalmente (a imagem e o bloco como um todo) */
    align-items: center;    /* Centraliza os itens horizontalmente dentro da linha (a imagem e o bloco separadamente) */
    min-height: 100vh;     /* Garante que o body ocupa toda a altura da viewport */
    margin: 0;             /* Remove margens padrão do body */
    font-family: Geologica, sans-serif;

}

#logo {
    width: 200px;
    display: block;
}

#criaracc {
    margin-top: 10px;
    color: #53F2B8;
    font-size: 15px;
    margin-left: 50px;
}

#bloco {
    background-color: #222222;
    align-items: center;
    width: 500px;
    height: 550px;
    border-radius: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;


}
#check{
    color: white;
}

#bloco h1 {
    color: white;
    margin-left: 50px;
    margin-top: 43px;
}

#usuario{
    background-color: #494949;
    margin-left: 50px;
    width: 400px;
    height: 50px;
    font-family: Geologica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 19px;
    margin-top: 25px;
    padding-left: 15px;
    transition: 0.3s;
}

#senha{
    background-color: #494949;
    margin-left: 50px;
    width: 400px;
    height: 50px;
    font-family: Geologica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 19px;
    margin-top: 25px;
    padding-left: 15px;
}


textarea {
    background-color: black;
}

#loginbutton button {
    background-color: #53F2B8;
    margin-left: 50px;
    width: 400px;
    height: 70px;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    border: none;
    border-radius: 19px;
    margin-top: 25px;
    

}

#logingoogle button {
    background-color: #000000;
    color: white;
    margin-left: 50px;
    width: 400px;
    height: 70px;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 19px;
    margin-top: 13px;

}

#loginbutton button:hover {
    background-color: #07422d;
    transition: 0.2s ease-in-out;
    color: white;
}


#logingoogle button:hover {
    background-color: #2c2c2c;
    transition: 0.2s ease-in-out;
    color: white;
}

#logingoogle img {
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

#user input {
    margin-left: 50px;
    background-color: #000000;
    font-family: Geologica, sans-serif;
    width: 400px;
    height: 70px;
    border-radius: 19px;
    border: none;
}

#password input{
    margin-top: 20px;
    margin-left: 50px;
    background-color: #000000;
    font-family: Geologica, sans-serif;
    width: 400px;
    height: 70px;
    border-radius: 19px;
    border: none;
}

#password ::placeholder {
    padding-left: 30px;
    font-size: 20px;
}

#user ::placeholder {
    padding-left: 30px; 
    font-size: 20px;
}

#checkbox {
    margin-left: 63px;
    margin-top: 10px;
}

#frase {
    color: white;
    font-size: 15px;
}

#logflow button {
    background-color: #000000;
    color: white;
    width: 400px;
    height: 70px;
    font-family: Geologica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 19px;
    margin-top: 13px;

}

#logflow button:hover {
    background-color: #53F2B8;
    transition: 0.2s ease-in-out;
    color: rgb(0, 0, 0);
    
}

#miojo p {
    font-weight: 700;
}

#miojo p:hover {
    color: #53F2B8;
    transition: 0.2s ease-in-out;
}

#pao p{
    font-weight: 900;
    align-content: center;
}
